<div class="list-group mb-3">
  {{#if announcements}}
    {{#each announcements}}
      <div class="d-flex align-items-center">
        <a href="/announcements/{{ this.id }}" class="list-group-item list-group-item-action">【{{date this.createdAt}}】{{ this.title }}</a>
        {{#ifCond ../route 'admin'}}
          {{#if ../user.isAdmin}}
            <a href="/admin/announcements/{{ this.id }}/edit" class="btn btn-success mx-1"><i class="fa-solid fa-pen"
                style="color: #ffffff;"></i></a>
            <form action="/admin/announcements/{{ this.id }}?_method=DELETE" method="POST">
              <button class="btn btn-danger" onclick="return confirm(`確定要刪除這則公告嗎？ {{ this.title }}`)" type="submit">
                <i class="fa-solid fa-trash" style="color: #ffffff;"></i>
              </button>
            </form>
          {{/if}}
        {{/ifCond}}
      </div>
    {{/each}}
  {{else}}
    <h1 class="text-center">暫無公告</h1>
  {{/if}}
</div>